body {
    font-family: 'Rubik', sans-serif;
}


#button-containerdescricao {
    width: 100%;
    margin: 550px   0 0 0px; /* Posicionamento a partir do topo e da esquerda */
    padding: 16px 0px 0px 0px; /* Padding superior */
    border-top: 1px solid #A5A49E; /* Borda superior */
    display: flex; /* Uso do flexbox para layout */
    justify-content: flex-end; /* Alinhamento à direita */
    gap: 24px; /* Espaço entre os botões */
    opacity: 1; /* Define a opacidade como 1 para visível */
    overflow-x: hidden; /* Evita scroll lateral */
}


#button-saveAnalise{
    background-color: #A5A49E; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 30px; /* Padding interno ajustado */
    cursor: pointer; 
    font-size: 14px; 
    text-decoration: none;
}

#button-cancellAnalise{
    background-color: #A5A49E; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 20px; /* Padding interno ajustado */
    cursor: pointer; 
    font-size: 14px; 
    
}


#button-saveAnalise:hover, #button-cancellAnalise:hover {
    background: #00c65e;
    opacity: 0.8; 
}

/* ButtonConfirmAnalise.css */

  #alert-cancel {
    position: fixed;
    top: 0;
    left: 82%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 1050;
    text-align: center;
    border-radius: 5px; /* Remover arredondamento dos cantos, se necessário */
    margin: 0; /* Remover margens padrão */
    margin-top: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicionar sombra para destaque */
    background: #f80101;
    color: #fff;
  }

