#containerinfo{
    width: 400px;
    height: 250px;
    border: solid 1px #A5A49E;
    border-radius: 4px;
    padding: 20px;
    margin-top: 200px;
    margin-left: 700px;
}

#frases{
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    font-size: 20px;
    color: #000;
    margin-top: 80px;
}