
#user-formCadastroAnalise{
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2) !important; /*  Ajuste para uma linha única */
    gap: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 40%;
}




#formGridEscopo,
#formGridOCP{
    color: #000;
    border: 1px solid #abaca5; /* Borda cinza */
}

#formgridEscopo::placeholder,
#formGridOCP::placeholder{
    color: #000 !important;
}


#formContentCadastro{
    display: flex;
    width: 650px;
    gap: 20px;
    margin-top: 0px;
    
}

#form-groupcontentCadastro{
    width: 660px;
    display: flex;
    justify-content: grid;
    flex-direction: column;
    
}

#formGridRelacao,
#formGridRazaosocial{
    border: solid 1px #abaca5;
}

#dados{
    margin-top: 20px;
    font-size: 24px;
    color:#183859;
}

#cadastrarempresa{
    margin-top: 10px;
    font-size: 14px;
    margin-left: 485px;
    color:#183859;
    text-decoration: none;
    border: none;
    background: #fff;
}

#adcEmpresa{
    margin-top: 20px;
    font-size: 14px;
    color:#183859;
   
}



#user-formCadastroanalise2{
    width: 640px; 
    margin-top: -2px;
 }
 
 
 #formGridPaisOrigem,
 #formGridlote,
 #formGridData {
     border: solid 1px #abaca5;
     
 
 }
 
 #formGridPaisOrigem::placeholder,
 #formGridlote::placeholder,
 #formGridData ::placeholder {
     color: black !important;
 }



 


 #user-formDescricao{
    width: 440px;
    margin-left: 200px;
    margin-top: 0px;
   
}

 #form-groupDescricao{
    grid-template-columns: repeat(2, 1fr) !important;
    display: grid;
}

 #formGridFamilia2::placeholder,
 #formGridMarca::placeholder,
 #formGridNomeComercial::placeholder,
 #formGridQuantidade::placeholder,
 #formGridReferencia::placeholder {
        color: black;
}

#formGridFamilia2,
#formGridMarca,
#formGridNomeComercial,
#formGridQuantidade,
#formGridReferencia{
    border: solid 1px #abaca5;
}

#referencia{
    width: 440px;
    margin-left: 200px;
}

#descricaoproduto{
    margin-top: 50px !important;
    font-size: 24px;
    color: #183859;
}

#novoproduto{
    color: #00c65e;
    margin-left: 520px;
    margin-top: 0px;
    text-decoration: none;
}

   /*Descrição 2*/
   #user-formDescricao2{
    width: 640px;
    
 }
 
 #formGridValidade,
 #formGridComposicao{
     border: solid 1px #abaca5;
     color: #000;
 }
 
     /* DESCRIÇÃO 3*/
 #user-formDescricao3{
    width: 640px;
 }
 
 #form-groupDescricao3{
     grid-template-columns: repeat(3, 1fr) !important;
     display: grid;
 }
 
 #formGridCodigo::placeholder,
 #formGridNumeroderegistro::placeholder,
 #formGridFunção::placeholder,
 #formGridEletrico::placeholder,
 #formGridRestricao::placeholder,
 #formGridIndicacao ::placeholder{
         color: #000 !important;
 }
 
 #formGridCodigo,
 #formGridNumeroderegistro,
 #formGridFuncao,
 #formGridEletrico,
 #formGridRestricao,
 #formGridIndicacao{
     border: solid 1px #abaca5;
     color: #000;
 }
 
     /*Descrição 4*/
 #user-formDescricao4{
     width: 420px;
     margin-top: 50px;
 }
 
 #form-groupDescricao4{
     grid-template-columns: repeat(1, 1fr) !important;   
     display: grid;
 }
 
 #formGridAlerta::placeholder,
 #formGridFrase::placeholder,
 #formGridAlerta::placeholder,
 #formGridFrase::placeholder {
      color: #000;
 }
 
 #formGridAlerta,
 #formGridFrase,
 #formGridAlerta,
 #formGridFrase {
     border: solid 1px #abaca5;
     color: #000;
 }
 
 #NovoAlerta{
     color: #00c65e;
     margin-left:px ;
     text-decoration: none;
 }