#MaisUserform { 
    grid-template-columns: repeat(4, 1fr) !important;
    grid-template-rows: repeat(4) !important; /*  Ajuste para uma linha única */
    gap: 24px;
    margin-top: 50px;
}

#formgroupMaisUser {
    grid-template-columns: repeat(4, 1fr) !important;
    grid-template-rows: repeat(1) !important;
    display: grid;
}

#formgroupMaisUser input {
    padding: 8px;
    border: 1px solid #abaca5; /* Borda cinza */
    color: #000;
    border-radius: 4px;
    font-size: 14px;
    outline-color: #abaca5;
}

#formGridProfil::placeholder,#formGridState::placeholder,#formGriE-mail::placeholder,#formGridCPF::placeholder,#formGridname::placeholder{
    color:#000;
}

#formGridState,
#formGridProfile,
#formGriE-mail,
#formGridCPF,
#formGridname {
    color: #000;
    border: 1px solid #abaca5; /* Borda cinza */
}