#user-formCliente { 
    grid-template-columns: repeat(4, 1fr) !important;
    grid-template-rows: repeat(4) !important; /*  Ajuste para uma linha única */
    gap: 24px;
    margin-top: 50px;
}

#form-groupCliente {
    grid-template-columns: repeat(4, 2fr) !important;
    grid-template-rows: repeat(1) !important;
    display: grid;
}

#form-groupCliente input{
    padding: 8px;
    border: 1px solid #abaca5; /* Borda cinza */
    color: #000;
    border-radius: 4px;
    font-size: 14px;
    outline-color: #abaca5;
}

#formGridState,
#formGridScope,
#formGridSegmento,
#formGridCNPJCPF,
#formGridNomeFantasia,
#formGridRazaoSocial {
    color: #000;
    border: 1px solid #abaca5; /* Borda cinza */
}

#formGridState::placeholder,
#formGridScope::placeholder,
#formGridSegmento::placeholder,
#formGridCNPJCPF::placeholder,
#formGridNomeFantasia::placeholder,
#formGridRazaoSocial::placeholder {
    color: #000;
   
}