 
table{
    margin-top: 90px;
    display: flex grid;
}

/* Estilo para o cabeçalho da tabela */
thead th {
    background-color: #183859 !important; 
    color: #ffffff !important; /* Cor do texto */
    text-align: left; /* Alinhamento do texto à esquerda */
    font-weight: bold; /* Texto em negrito */

}

/* Estilo para as células do cabeçalho */
table th,
table td {
    padding: 12px 15px; /* Espaçamento interno das células */
    border: 1px solid #dddddd; /* Borda das células */
}

/* Estilo para linhas pares do corpo da tabela */
table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3; 
}

/* Estilo para linha quando o mouse passa sobre ela */
table tbody tr:hover {
    background-color: #f1f1f1; 
    cursor: pointer; /* Cursor do mouse */
}

/* Estilo para as linhas do corpo da tabela */
table tbody tr {
    border-bottom: 1px solid #dddddd; /* Borda inferior */
}

/* Estilo para as tags dentro da célula */
#custom-tag  {
    display: inline-block;
    background-color: #f1f1f1; 
    border-radius: 12px;
    padding: 2px 8px;
    margin-right: 4px;
    font-size: 14px;
}
#tag{
    color: #000;
    background-color: #f1f1f1;
    border: 1px solid #8f8e8e;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 14px;
}





#cancel{
    position: fixed;
    top: 0;
    left: 82%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 1050;
    text-align: center;
    border-radius: 5px; /* Remover arredondamento dos cantos, se necessário */
    margin: 0; /* Remover margens padrão */
    margin-top: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicionar sombra para destaque */
    background: #f80101;
    color: #fff;
}


#acoes{
    cursor: pointer;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 10px !important;
    color: #183859;
    background: #fff;
    border: none;
}
