#carrossel{
    width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 700px;
    margin-top: -1170px;
}

#inner{
    display: flex;
}

#itenscontent{
    width: 200px;
    height: 200px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

#itenscontent content{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

#carrosselContent{
    cursor: grab;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    height: 100px;
    margin-bottom: -200px;
    margin-top: 70px;
}

.etiqueta {
    width: 90mm;
    height: 70mm;
    background-size: cover;
    border: 1px solid #000;
}
