#user-formNovaAnaliseCliente{
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 24px;
    margin-top: 50px;
}
#form-groupNovaAnaliseCliente{
    grid-template-columns: repeat(4, 2fr) !important;
    grid-template-rows: repeat(1) !important;
    display: grid;
    
}

#formGridEscopo,
#formGridFamilia,
#formGridState,
#formGridSolicitacao{
    color: #000;
    border: 1px solid #abaca5; /* Borda cinza */
}


#formGridEscopo::placeholder ,
#formGridFamilia::placeholder,
#formGridState::placeholder,
#formGridSolicitacao::placeholder  {
    color: #000 !important;
   
}