body {
    font-family: 'Rubik', sans-serif;
}


#button-containerExport {
    width: 100%;
    margin: 50px 0 -40px 0px; /* Posicionamento a partir do topo e da esquerda */
    padding: 16px 0px 0px 0px; /* Padding superior */
    border-top: 1px solid #A5A49E; /* Borda superior */
    display: flex; /* Uso do flexbox para layout */
    justify-content: flex-end; /* Alinhamento à direita */
    gap: 24px; /* Espaço entre os botões */
    opacity: 1; /* Define a opacidade como 1 para visível */
    overflow-x: hidden; /* Evita scroll lateral */
}






