#user-formdetalheadm{
    margin-top: 50px;
    width: 100%;
}


#formGridEscopo,
#formGridFamilia,
#formGridNomecomercial,
#formGridResponsavel{
    color: #000;
    border: 1px solid #abaca5; /* Borda cinza */
}


#formGridEscopo::placeholder ,
#formGridFamilia::placeholder,
#formGridNomecomercial::placeholder,
#formGridResponsavel::placeholder  {
    color: #000 !important;
   
}