#containertm{
    max-width: 90px;
    max-height: 70px;
    width: 50px;
    height: 50px;
    background: #183859 !important;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#tamanho{
    margin-top: 5px;
    font-size: 12px;
    color: #ffff;
    align-items: center;
    justify-content: center;
}

#contentmargin{
    width: 90px !important;
    height: 70px !important;
    background:  
    #D6D7D4!important;
    border-radius: 4px;
    display: flex;

}

.etiqueta {
    width: 90mm;
    height: 70mm;
    background: url('../padrao.jpg') no-repeat center center;
    background-size: cover;
    border: 1px solid #000;
}
