.sidebar-container {
  position: fixed;
  top: 75px; /* Ajuste para o Header */
  left: 0;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar {
  background-color: white;
  width: 200px; /* Largura fixa desejada */
  padding: 20px 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  height: 100%;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);         
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-bottom: 20px; /* Espaço abaixo do menu */
}

.sidebar-item {
  padding: 10px 20px;
  margin: 5px 10px;
  cursor: pointer;
  color: #183859;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-item .sidebar-icon {
  margin-right: 10px;
}

.sidebar-item:hover, .sidebar-item.active {
  background-color: #00C65E;
  color: white;
}

.sidebar-item:hover .sidebar-icon, .sidebar-item.active .sidebar-icon {
  color: white;
}

.sidebar-item:hover a, .sidebar-item.active a {
  color: white;
}

.sidebar-item a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  flex: 1;
}

.toggle-button {
  background-color: #00C65E; /* Cor de fundo verde dos menus */
  border: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
  z-index: 1000;
  position: absolute;
  left: 50%; /* Centraliza horizontalmente */
  bottom: 20px; /* Distância do fundo da sidebar */
  transform: translateX(-50%); /* Corrige para centralizar completamente */
  width: 40px; /* Tamanho do círculo */
  height: 40px; /* Tamanho do círculo */
  border-radius: 50%; /* Torna o botão circular */
  display: none; /* Inicia oculto */
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra para efeito de elevação */
}

/* Responsivo */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.visible {
    transform: translateX(0);
  }

  .toggle-button {
    display: flex; /* Exibe apenas em telas menores */
    position: fixed;
    left: 50%; /* Centraliza horizontalmente */
    bottom: 20px; /* Distância do fundo da tela */
    transform: translateX(-50%); /* Corrige para centralizar completamente */
    z-index: 1000;
  }
}
