

/* Estilo para o texto */
#p {
    font-size: 18px; 
    color: #183859; 
    margin: 0; /* Remove margem */
    text-align: left; /* Alinhamento centralizado */
   
}

/* Estilo para o título */
#titulo {
    font-size: 18px;
    color: #183859; 
    margin: 0; /* Remove margem */
  
  
}

/* Estilo para o container dos botões */
#button-container {
    display: flex; /* Uso do flexbox para layout */
    gap: 24px; /* Espaço entre os botões */
    justify-content: center;
    margin-bottom: 5px;
    margin-right: 30px;
    padding: 20px;
    width: 100%;
   
}


/* Estilo para o botão de cancelar */
#baixar {
    background-color: #fff; 
    color: #183859; 
    border: solid 1px #183859; 
    border-radius: 4px; /* Bordas arredondadas */
    padding: 10px 30px; /* Padding interno */
    cursor: pointer; /* Cursor do mouse */
    font-size: 14px; /* Tamanho da fonte */
}
/* Estilo para o botão de excluir */
#import1 {
    background-color: #fff;
    color: #183859; 
    border: solid 1px #183859; 
    border-radius: 4px; /* Bordas arredondadas */
    padding: 10px 20px; /* Padding interno */
    cursor: pointer; /* Cursor do mouse */
    font-size: 14px; /* Tamanho da fonte */
}

/* Estilo para o botão quando o mouse passa sobre ele */
#baixar:hover{
    background: #183859!important;
    color: #fff;
    opacity: 0.8; /* Transparência */
}

#import1:hover {
    background: #183859 !important;
    color: #fff;
    opacity: 0.8; /* Transparência */
}