.inicio-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Rubik', sans-serif;
  }
  a#mais2 {
    margin-left: 950px;
    font-size: 18px;
    color: #00c65e;
    cursor: pointer;
    text-decoration : none !important ;
    text-decoration-color: #fff !important ;
  }
  .content-with-sidebar {
    display: flex;
    flex: 1; /* Ocupa todo o espaço disponível */
    margin-top: 75px; /* Altura do Header */
    margin-left: 200px; /* Largura da Sidebar */
  }
  
  .main-content {
    padding: 20px;
    /* Outros estilos conforme necessário */
  }
  
  @media (max-width: 768px) {
    .content-with-sidebar {
      margin-top: 75px; /* Ajuste para telas menores se necessário */
      margin-left: 0; /* Remove a margem quando a Sidebar não estiver visível */
    }
  }
  