body {
    font-family: 'Rubik', sans-serif;
}


#button-container1 {
    width: 100%;
    margin: 70px 0 0 0px; /* Posicionamento a partir do topo e da esquerda */
    padding: 16px 0px 0px 0px; /* Padding superior */
    border-top: 1px solid #A5A49E; /* Borda superior */
    display: flex; /* Uso do flexbox para layout */
    justify-content: flex-end; /* Alinhamento à direita */
    gap: 24px; /* Espaço entre os botões */
    opacity: 1; /* Define a opacidade como 1 para visível */
    overflow-x: hidden; /* Evita scroll lateral */
}


#button-Detalhes{
    background-color: #A5A49E; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 33px; /* Padding interno ajustado */
    cursor: pointer; 
    font-size: 14px; 
   
}


#button-NovaAnalise {
    background-color: #A5A49E; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 20px ; /* Padding interno ajustado */
    cursor: pointer; 
    font-size: 14px; 
   
}


#button-cadastroAnalise{
    background-color: #A5A49E; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 30px ; /* Padding interno ajustado */
    cursor: pointer; 
    font-size: 14px; 
}

#button-NovaAnalise:hover, #button-Detalhes:hover, #button-cadastroAnalise:hover {
    background: #00c65e;
    opacity: 0.8; 
}
