/* Garantindo que o body e o html ocupem 100% da altura */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto; /* Permite rolagem interna */
  overflow-x: hidden; /*tira rolagem lateral da tela*/
  background-color: #fff;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: 'Rubik', sans-serif;
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden; /* Remove barras de rolagem da área de conteúdo */
}

.header {
  flex-shrink: 0; /* Garante que o header não encolha */
  overflow-y: hidden; /* Remove barras de rolagem do header */
}

.sidebar {
  flex-shrink: 0; /* Garante que a sidebar não encolha */
  overflow-y: hidden; /* Remove barras de rolagem da sidebar */
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}


